.main {
  max-width: var(--max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-left: auto;
  margin-right: auto;

  & > * + * {
    margin-top: var(--space-sm);
  }

  p {
    max-width: 65ch;
  } 

  & a,
  & a:visited {
    font-weight: 600;
  }
}

.nav_list {
  a {
    padding: 5px 0;
    --underline-position-y: 80%;
  }
}
